@element-width: 120px;
@button-height: 45px;

.admin-container {
  fieldset {
    width: 45%;
    border: none;
    display: inline-block;
    margin: 0;
  }

  label {
    padding: 10px;
    display: inline-block;

    .input {
      display: inline-block;
      width: @element-width;
      background: @lightest;
      color: @darker;
      padding: 2px 4px;
      margin-left: 5px;
      border: 1px solid @dark;
      border-radius: 5px;
      font-size: 12px;
    }

    .custom-select {
      // 2 * 4px padding
      width: @element-width + 8px;
    }
  }

  .submit-button {
    width: @element-width;
    height: @button-height;
    background-color: @submitGreen;
    color: @lightest;
    font-size: 16px;
    border: none;
    margin: 10px;
  }

  .score-one,
  .score-two {
    width: 50px;
  }
}

.admin-error {
  display: none;
  border: 5px solid @errorRed;
  background-color: @dark;
  color: @light;
  padding: 4px;

  &--visible {
    display: block;
  }
}

.logout-button {
  float: right;
  width: @element-width;
  height: @button-height;
  background-color: transparent;
  color: @darker;
  font-size: 16px;
  border: none;
  margin: -10px;

  &:hover {
    color: @light;
  }
}
