@darker:    #222;
@dark:      #777;
@light:     #ddd;
@lighter:   #eee;
@lightest:  #fff;

@links:         #2F49DA;
@links--hover:  #B0B5EF;


@loserRed:          #A01313;
@errorRed:          #F30D0D;
@unchallengableRed: #F16262;

@winnerGreen:       #037711;
@submitGreen:       #149429;
@challengableGreen: #BDF3AD;

html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: @light;
}

a {
  color: @links;
  &:hover {
    color: @links--hover;
  }
}

@import './table.less';
@import './ladder-table.less';
@import './history-table.less';
@import './admin.less';
@import './header-footer.less';
