<form class="add-player-form" {{action "addPlayers" on="submit"}}>
    <fieldset>
        <label>
            Name
            {{input class="playerName input" type="text" value=playerName}}
        </label>
    </fieldset>
    <fieldset>
        <input type="submit" value="submit" class="submitButton">
    </fieldset>
</form>
