<form class="add-player-form" {{action "addPlayers" on="submit"}}>
    <fieldset>
        <label>
            Name
            {{input class="playerName input" type="text" value=playerName}}
        </label>
    </fieldset>
    {{input class="submit-button" type="submit" value="submit" }}
</form>
