{{#each games as |game|}}
  <tr>
    <td class="player playerOne">{{game.name-one}}</td>
    <td class="score" >{{game.score-one}} - {{game.score-two}}</td>
    <td class="player playerTwo">{{game.name-two}}</td>
  </tr>
{{/each}}
