<div class="admin-container">
  <h2>
    {{#link-to "admin-player" class="unactive"}}Add Player{{/link-to}}
    {{#link-to "admin-challenging" class="active"}}Add Challenging{{/link-to}}
    {{#link-to "admin-game" class="unactive"}}Add Game{{/link-to}}
  </h2>
  <form class="challenge-form" {{action "addChallenged" on="submit"}}>
      <fieldset>
          <label>
              Player 1:
              {{select-component
              options=unchallengedPlayers
              selectOption="selectChallenger1"}}
          </label>
          <label>
              Player 2:
              {{select-component
              options=unchallengedPlayers
              selectOption="selectChallenger2"}}
          </label>
      </fieldset>
      <input type="submit" value="submit" class="submitButton">
  </form>
</div>
