<div class="admin-container">
  <h2>
    {{#link-to "admin-player" class="active"}}Add Player{{/link-to}}
    {{#link-to "admin-challenging" class="unactive"}}Add Challenging{{/link-to}}
    {{#link-to "admin-game" class="unactive"}}Add Game{{/link-to}}
  </h2>
  <form class="add-player-form" {{action "addPlayers" on="submit"}}>
      <fieldset>
          <label>
              Name
              {{input class="playerName" type="text" value=playerName}}
          </label>
      </fieldset>
      <fieldset>
        <input type="submit" value="submit" class="submitButton">
      </fieldset>
  </form>
</div>
