<h2 id="title">Pool Ladder</h2>

<nav>
    {{#link-to 'ladder'}}Ladder{{/link-to}}
    {{#link-to 'rules'}}Rules{{/link-to}}
    {{#link-to 'history'}}History{{/link-to}}
    {{#link-to 'game'}}Game{{/link-to}}
</nav>

{{outlet}}
