<h2 class="rules">
{{#link-to "game-rules" class="active"}}Game Rules{{/link-to}}
  {{#link-to "ladder-rules" class="unactive"}}Ladder Rules{{/link-to}}
</h2>


<p>
  A copy of these rules can be found on the wall next to the pool table in the hub,
  although written in a different format, or here.
  These are a more lightweight version of the official rules that cover the most common areas of disagreement.
</p>

<h4>The Rack</h4>
<img src="http://www.epa.org.uk/images/racka.gif" alt="Image of ball layout"/>

<h4>Breaking</h4>
  <ul>
    <li>The cue ball may be placed anywhere in the rectangular area behind the baulk like at the top of the table</li>
    <li>The cue ball may be played in any direction</li>
    <li>The player that breaks will be determined by a coin-toss if no other agreement can be reached</li>
    <li>For a break to be legal, either a colour ball must be potted or at least four balls (not including the cue ball) must touch a cushion</li>
    <li>Other foul conditions (such as any ball leaving the table) still apply</li>
    <li>Potting the cue ball off the break only awards the opponent one shot and the game continues as normal</li>
    <li>Potting the eight-ball off the break results in a re-rack and the same player will break again</li>
    <li>If these conditions are not met, the balls are re-racked, the opponent is awarded two shots and they will restart the game</li>
  </ul>

<h4>Deciding Colours</h4>
  <ul>
    <li>When colours have not been decided, the table is open</li>
    <li>Colours can not be decided on a foul shot</li>
    <li>If at least one ball of each colour is potted during the break, the player must advise the opponent of their selected colour for the remainder of the game</li>
    <li>If only one ball is potted during the break, the player may choose the colour of that ball and will remain that way regardless of what happens next</li>
    <li>
      If only one ball is potted during the break, the player has a right to choose the other colour,
      but must pot a ball of that colour in the next shot. Failing to do so awards the opponent two shots and the table remains open
    </li>
  </ul>

<h4>Legal Shot</h4>
  A shot is legal if both of these conditions are met:
  <ol>
    <li>The cue ball's initial contact is with a ball of the colour the player is trying to pot</li>
    <li>A ball of the colour the player is trying to pot is potted or any ball hits at least one cushion</li>
  </ol>
  <ul>
    <li>If the player is snookered in such a way that no straight shot would lead to contact with a legal ball, only the first condition above applies</li>
    <li>If a ball is already touching the cushion, forcing that ball into the same cushion is not enough for the shot to be considered legal</li>
    <li>These rules do not apply during a break</li>
    <li>Shots from behind the baulk line may be played in any direction</li>
  </ul>

<h4>Fouls</h4>
  <h5>These fouls award the opponent two shots</h5>
    <ul>
      <li>Potting the cue ball</li>
      <li>Potting an opponent's ball (except after a foul snooker)</li>
      <li>Failing to cause the cue ball's first contact with another ball to be with a ball of the colour that the player is trying to pot</li>
      <li>Playing a shot before all balls have stopped moving</li>
      <li>Causing a ball to leave the table and not return by itself</li>
    </ul>

  <h5>These fouls awards the opponent the frame</h5>
    <ul>
      <li>Potting the eight ball at the same time as any other ball</li>
      <li>Potting the eight ball when a ball of the player's own colour is still on the table</li>
      <li>Committing any of the other fouls listed in section 1 above and potting the eight ball in the same shot</li>
    </ul>

  <p>
    The two shots awarded due to an opponent's foul carry over.
    Once the player fails to pot a ball, they are allowed to take their second shot regardless of how many balls they have already potted during this visit to the table.
  </p>

  <h5>Foul Snookers</h5>
    If a player commits a foul which results in the opponent being snookered, the snookered player can choose one of these options:
    <ul>
      <li>
        play the cue ball from its current position and nominate any colour ball
        (including the eight ball and any of the opponent's balls) which then becomes a valid ball to hit and/or pot for the duration of the shot
      </li>
      <li>play the cue ball from anywhere behind the baulk line</li>
    </ul>
    In either of the scenarios above, the snookered player is awarded two shots
    It is possible to nominate the eight ball, but potting it results in loss of frame

<h4>Touching Balls</h4>
  <ul>
    <li>If the cue ball is touching another ball, the cue ball must be played away from the ball it is touching</li>
    <li>If the touching ball is one of the player's own colour, the ball is considered played</li>
    <li>If the touching ball is not one of the player's own colour, the shot must meet all requirements listed in Legal Shot</li>
  </ul>

<h4>Balls Off the Table</h4>
  <ul>
    <li>If a ball leaves the table and does not return by itself, the opponent is awarded two shots</li>
    <li>If the cue ball leaves the table, it must be played from behind the baulk line</li>
    <li>If a colour ball or the eight ball leaves the table, it must be placed on or as close to the spot at the bottom of the table as possible</li>
  </ul>
