<h2 class="rules">
  {{#link-to "ladder-rules" class="active"}}Ladder Rules{{/link-to}}
  {{#link-to "game-rules" class="unactive"}}Game Rules{{/link-to}}
</h2>

<p>
  These are the general rules to a ladder tournement.
</p>

<h4>Challenges</h4>
  <ul>
    <li>You can challenge someone up to 2 steps above you on the ladder to a match</li>
    <li>Refusing a challenge will result in the two players swapping places on the ladder</li>
    <li>If the challenge is accepted, the match must be played within one week of the date that the challenge was originally issued on. There are exceptions to this, listed in the Misc section below</li>
    <li>You can only challenge someone above you on the ladder, never below</li>
    <li>You cannot challenge a player that has already been challenged or has challenged until that match is settled</li>
    <li>To issue a challenge, you must send an email to the other player and CC both Sorin Chiriac and Gagondeep Srai, as this will enable us to keep track of deadlines</li>
    <li>Once two players have finished their match, they can’t play against each-other again until at least one of them has played against someone else</li>
  </ul>

<h4>Results</h4>
  <ul>
    <li>If the player issuing the challenge wins the match, the two players swap places</li>
    <li>If the player issuing the challenge loses the match, the two players keep their existing positions</li>
  </ul>

<h4>Matches</h4>
  <ul>
    <li>Matches are best of three frames</li>
    <li>
      If either of the players wins the first two frames in a row, both players must decide whether they wish to play the third or not.
      While it will not make a difference for their ladder standings, we do record how many frames each player has won and lost
    </li>
    <li>The rules used are as defined here. There is a copy of these rules (albeit in a different format) on the wall next to the pool table in the hub</li>
  </ul>

<h4>Misc</h4>
  <ul>
    <li>You can only play as part of the ladder once a day</li>
    <li>The one week deadline can be extended by a maximum of one week if either player is on holiday or off ill, provided both players agree to this</li>
    <li>
      If an agreement cannot be reached, or if either player is off for long enough that the one week extension still doesn't provide time for the match,
      the challenge will be cancelled without any changes in standings
    </li>
    <li>A challenge can be rescinded by the challenger at any point without consequences in the cases described above</li>
  </ul>
