<div class="admin-container">
  <h2>Login Form</h2>

  <form class="login-form" {{action "login" on="submit"}}>
    <fieldset>
      <h3>Login</h3>
      <label>
        Email
        {{input class="email" type="email" value=adminEmail placeholder="foo@bar.com"}}
      </label>
      <label>
        Password
        {{input class="password" type="password" value=adminPassword}}
      </label>
    </fieldset>
    <fieldset>
      <input type="submit" value="login" class="submit-button">
    </fieldset>
  </form>
</div>

{{admin-error errorMessage=errorMessage}}
